
#my-aside {
    //border: yellow 1px solid;
    flex-grow: 1;
    padding: 20px;
    max-width: 240px;
    text-align: center;
}
#my-aside-nav ul{
    list-style-type: none;
    padding: 1px;
}
#my-aside-nav li{
    border: black 1px solid;
    background: white;
    font: bold 14px Tahoma black;
    display: -moz-stack;
    list-style: none;
    
    transition: transform .3s;
    border-radius: 5px;
    margin: 15px;
    padding: 10px;
    box-shadow: rgba(110, 110, 110, .7);
}
#my-aside-nav li:hover{
    transform: scale(1.2); 
    color:white;
} 
#my-aside-nav a{
    text-decoration: none;
    color: black;
    display: block;
    padding: 5px;
}
.active {
    background: grey;
}

/*
nav ul li a:hover:not(.active) {
    background-color: #555;
    color: white;
}
.active {
    background-color: rgb(26, 102, 92);
    color: white;
}
*/