$bg-color: rgb(37, 146, 132);

*{
    margin: 0px;
    padding: 0px;
}
a{
    font: Tahoma;
    text-decoration: none;
}
header, section, footer, aside, nav, article, hgroup{
    display: block;
}
#big-wrapper{
    width: 100%;
    margin: 20px;
    padding: 20px;
}