#loginform {
    padding: 20px;
    text-align: center;
    -webkit-box-align: center;
}
#loginform form { display: table;      }
#loginform p    { display: table-row;  }
#loginform label { display: table-cell; }
#loginform input { display: table-cell; }
input[type=submit] {
    border-radius: 5px;
    border: 0;
    width: 80px;
    height:25px;
    font-family: Tahoma;
    background: #f4f4f4; 
}
input[value=register] {
    border-radius: 5px;
    border: 0;
    width: 80px;
    height:25px;
    font-family: Tahoma;
    background: #f4f4f4; 
}