.top-container {
    border: 3px solid rgb(36, 146, 122);
    height: auto;
    
    padding: 10px;
    display: flex;
    flex-direction: horizontal;
    
    box-shadow:#41B3A3;
    background: rgb(163, 96, 114);
}
#navbar {
    flex: 1;
    height:auto;
    display: flex;
    justify-content: left;
    align-items: center;
}

#top-menu li {
    color: black;
    //background: white;
    font: bold 14px Tahoma black;
    display: inline-block;
    list-style: none;
    transition: transform .3s;
    border-right: 1px solid black;
    //box-shadow: rgba(110, 110, 110, .7);
}
#top-menu li:hover{
    transform: translate(0px, 5px);
}
#top-menu li a{
    display: block;
    padding: 5px;
    text-decoration: none;
    color: black;
}