.top-container {
    border: 3px solid rgb(36, 146, 122);
    height: 100px;
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: horizontal;
    border-radius: 25px;
    box-shadow:#41B3A3;
    background: rgb(163, 96, 114);
}
#navbar {
    flex: 1;
    min-width: 580px;
    height:100px;
    display: flex;
    justify-content: left;
    align-items: flex-start;
}
#top-menu li {
    color: black;
    background: white;
    font: bold 14px Tahoma black;
    display: inline-block;
    list-style: none;
    transition: transform .3s;
    border-radius: 10px;
    box-shadow: rgba(110, 110, 110, .7);
}
#top-menu li:hover{
    transform: translate(0px, 5px);
}
#top-menu li a{
    display: block;
    padding: 5px;
    text-decoration: none;
    color: black;
}