@import 'initials';

body {
    font-family: Arial;
    //border: none;
    background-color: $bg-color;
    //background-position: center; 
    //background-size: auto;
    //background-repeat: no-repeat;
    
    text-align: center;
    width: auto;
    padding: 20px;
    display: flex;

    //height:100%;
}
h1 {
    color: black;
    font: bold 32px Tahoma;
    text-align: center;
    display: inline;
}
h2 {
    font: bold 20px Tahoma;
    margin: 5px;
}
h3 {
    font: bold 20px Tahoma;
}
#big-wrapper{
    border: black 1px solid;
    background-color: rgba(98, 165, 132, .7);
    background-blend-mode: multiply;
    //border: 3px solid rgb(36, 146, 122);
    min-height: 85vh;
    //height: 100%;
    position: relative;
    margin:0px;
    padding: 20px left right bottom;
    padding-bottom: 60px;
    text-align: left;
}

#big-header {
    //border: yellow 1px solid;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    
}
#logo-and-text{
    display: flex;
    //border: solid yellow 1px;
    text-align: left;
}
#header-text{
    padding: 8px;
}

@import "nav-style";

@import "login-style";

#page-middle {
    display: flex;
    flex-direction: row;
    flex-grow: 2;
}

@import "index-aside";

#main-section {
    background: gainsboro;
    flex: 1;
    padding: 20px;
    margin: 20px;
    border: black 1px solid;
    border-radius: 6px;
    p {
        
    }
}
#oofbutton{
    //border: yellow 1px solid;
}
@import "footer";