@import 'initials';

body {
    font-family: Arial;
    border: none;
    background-color: $bg-color;
    background-position: center; 
    background-size: auto;
    background-repeat: no-repeat;
    
    text-align: center;
    width: auto;
    padding: 20px;
    display: flex;
}
h1 {
    color: black;
    font: bold 32px Tahoma;
    text-align: center;
    display: inline;
}
h2 {
    font: bold 20px Tahoma;
    margin: 5px;
}
h3 {
    font: bold 20px Tahoma;
}
#big-wrapper{
    background-color: rgba(98, 165, 132, .7);
    background-blend-mode: multiply;
    border: 3px solid rgb(36, 146, 122);

    margin: 20px auto;
    padding: 20px auto;
    text-align: left;
}

#big-header {
    text-align: center;
    padding: 20px;
    display: flex;
}

@import "nav-style";

@import "login-style";

#page-middle {
    display: flex;
    flex-direction: row;
    flex-grow: 2;
}

@import "index-aside";

#main-section {
    flex: 1;
    padding: 20px;
    margin: 20px;
    border: yellow 1px solid;
}
#footer{
    text-align: center;
    padding: 20px;
    position: s;
    bottom: 0;
    width: 100%;
}