*{
    margin: 0px;
    padding: 0px;
}
body {
    border-radius: 25px;
    border: none;
    
    background-color: #85DCB0;
    background-blend-mode: multiply;
    
    text-align: center;
    
    display: relative;
    
}
#background-wrapper{
  height: auto;
  position: relative;
  margin:40px;
}
#big-wrapper{
    background-color: rgba(98, 165, 132, .7);
    background-blend-mode: multiply;
    border: 3px solid #41B3A3;
    border-radius: 20px;
    
    max-width: 1500px;
    margin: 0 auto;
    padding:10px;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}
#loginform {
    padding: 20px;
    text-align: center;
    -webkit-box-align: center;
}
#loginform form { display: table;      }
#loginform p    { display: table-row;  }
#loginform label { display: table-cell; }
#loginform input { display: table-cell; }
input[type=submit]{
    border-radius: 5px;
    border: 0;
    width: 80px;
    height:25px;
    font-family: Tahoma;
    background: #f4f4f4; 
}
input[type=button]  {
    margin-top:20px;
    border-radius: 5px;
    border: 0;
    width: 140px;
    height:25px;
    font-family: Tahoma;
    background: #f4f4f4; 
}