#snowflake0 {
    border:1px solid white;
    position: fixed;
    top: 124px;
    left: 1000px;
}
#snowflake1 {
    border:1px solid white;
    position: fixed;
    top: 55px;
    left: 500px;
}
#snowflake2 {
    border:1px solid white;
    position: fixed;
    top: 546px;
    left: 600px;
}
#snowflake3 {
    border:1px solid white;
    position: fixed;
    top: 413px;
    left: 500px;
}
#snowflake4 {
    border:1px solid white;
    position: fixed;
    top: 234px;
    left: 600px;
}
#snowflake5 {
    border:1px solid white;
    position: fixed;
    top: 452px;
    left: 200px;
}
#snowflake6 {
    border:1px solid white;
    position: fixed;
    top: 247px;
    left: 400px;
}
#snowflake7 {
    border:1px solid white;
    position: fixed;
    top: 123px;
    left: 300px;
}
#snowflake8 {
    border:1px solid white;
    position: fixed;
    top: 785px;
    left: 600px;
}
#snowflake9 {
    border:1px solid white;
    position: fixed;
    top: 526px;
    left: 900px;
}
#snowflake10 {
    border:1px solid white;
    position: fixed;
    top: 666px;
    left: 200px;
}